each event, index in events    
    a(href="/events/#{event.slug}").nomobile
        .box
            h4= event.title            
                p
                small.help-block(font-size="smaller")= "Початок: "+event.startdate+" "+event.starttime
                small.help-block(font-size="smaller")= "Завершення: "+event.enddate+" "+event.endtime
                small.help-block(font-size="smaller")= "Країна: "+event.country 
    .mobile.box
        h6
            a(href="/events/#{event.slug}")= event.title
        p
        small.help-block(font-size="smaller")= "Початок: "+event.startdate+" "+event.starttime
        small.help-block(font-size="smaller")= "Завершення: "+event.enddate+" "+event.endtime
        small.help-block(font-size="smaller")= "Країна: "+event.country
#events
script.
    $(".mobile.box").click(function() {window.location = $(this).find("a").attr("href"); return false;});