extends layout
block page 
  - var menu = 'article'
  - tags = tags.replace(/\s*,\s*/g, ',').split(',')
  include includes/menuArticles
block content
  include includes/importsView
  .row
    // Ukrexpat Article Event
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5925166783691550', data-ad-slot='6725583933', data-ad-format='auto', data-full-width-responsive='true')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
  .row
    div.nomobile
      h3(style="text-align: center;")= title
        p
        small.help-block(font-size="smaller")= "Дата публікації: "+date   
        small.help-block(font-size="smaller")= "Теги:"          
          - each tag in tags
            a(href="/articles/tag/#{tag.toLowerCase()}")  ##{tag.toLowerCase()}
        p
        img(class="img img-responsive full-width", src=image)
      // Ukrexpat Article Event
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5925166783691550', data-ad-slot='6725583933', data-ad-format='auto', data-full-width-responsive='true')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
      p!= '<div class="responsive-area">'+text+'</div>'
      p
    div.mobile      
      h3(style="text-align: center;")= title
      p
      div(font-size="smaller", style="text-align: center;")= "Дата публікації: "+date
      div(font-size="smaller", style="text-align: center;")= "Теги:"
        - each tag in tags
          a(href="/articles/tag/#{tag.toLowerCase()}")  ##{tag.toLowerCase()}
      p       
      img(class="img img-responsive full-width", src=image)
      p
      small(font-size="smaller")!= '<div class="responsive-area">'+text+'</div>'
    // p.addthis_sharing_toolbox
    // AddToAny BEGIN
    .a2a_kit.a2a_kit_size_32.a2a_default_style      
      a.a2a_button_facebook
      a.a2a_button_twitter
      a.a2a_button_telegram
      a.a2a_button_whatsapp
      a.a2a_button_facebook_messenger
      a.a2a_button_viber
      a.a2a_button_reddit
      a.a2a_dd(href='https://www.addtoany.com/share')
    .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style(style='left:0px; top:300px;')
      a.a2a_button_facebook
      a.a2a_button_twitter      
      a.a2a_dd(href='https://www.addtoany.com/share')
    script.
      var a2a_config = a2a_config || {};
      a2a_config.locale = "en";    
    style.
      /* Hide AddToAny vertical share bar when screen is less than 1300 pixels wide */
      @media screen and (max-width: 1300px) {
      .a2a_floating_style.a2a_vertical_style { display: none; }
      }
    // AddToAny END